<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="callserver" value="157.191.17.100"/>
    <add key="extension" value="4509797"/>
    <add key="extension.password" value="625756"/>
    <add key="telecommuter.number" value="4509771"/>
    <add key="DMCC.server_ip" value="157.191.17.55"/>
    <add key="DMCC.username" value="dmccuser"/>
    <add key="DMCC.password" value="avaya@123"/>
    <add key="DMCC.protocol_version" value="http://www.ecma-international.org/standards/ecma-323/csta/ed3/priv1"/>
    <add key="DMCC.server_port" value="4721"/>
    <add key="DMCC.secure" value="False"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
